doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Record History - Daycare Accounts Department  
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
  style.
    table th,
    table td {
    border: 1px solid #ddd;
    padding: 8px;
    width:auto;
    text-align: center;
    }
    button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    }
    table th {
    background-color: #f2f2f2;
    }
    table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2;
    }
include nav 
include buttonBar 
.container.mt-5
  h2.text-center.mb-4 Accounts Record History
  .row.justify-content-center
    .col-md-8
      table.table.table-bordered
        thead
          tr
            th Type
            th Ref No
            th Date
            th Description
            th Amount (UGX)
            th Action
        tbody#recordsTableBody
          if records.length 
          each record in records
              tr 
                td #{record.recordType}
                td #{record.recordRefNo}
                td #{record.recordDate}
                td #{record.recordDescription}
                td #{record.recordAmount}
                td 
                  a.btn.btn-primary(href='/accountsupdate/'+record._id) Update
                td  
                  form(method="POST" action="/delete")
                     input(type="hidden" name="id" value= record._id)
                     button.btn.btn-danger(type="submit") Delete
br          
include footer      
// Bootstrap JS and dependencies (e.g., Chart.js)
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')