doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Checked Out Babies
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  link(rel='stylesheet' href='/css/style.css')
include nav 
include buttonBar 
.container.mt-5
  h2 Checked Out Babies
  .table-responsive
    table.table.table-bordered
      thead
        tr
          th Baby Name
          th Person Who Picked
          th Contact of Person
          th Comments
          th Time Checked Out
          th Action
      tbody
        tr
          td #{}
          td #{}
          td #{}
          td #{}
          td #{}
          td
            button.btn.btn-primary Update
include footer                  
// Bootstrap JS and dependencies (e.g., Chart.js)
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')  
