doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dashboard
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/style.css")
    style.
      .card {
        margin-bottom: 20px;
        color: black;
      }
  body
    include nav 
    include buttonBar
    .container
      .row
        .col-md-6
          .card
            .card-body
              h4.card-title Attendance
              p.card-text Total: #{babiesPresentCount}
              a.btn.btn-secondary(href='/checkin') CheckIn 
              | &nbsp; &nbsp;
              a.btn.btn-secondary(href='/checkinHistory') View Details
        .col-md-6
          .card
            .card-body
              h4.card-title Enrolled Babies
              p.card-text Total: #{babiesEnrolledCount}
              a.btn.btn-secondary(href='/babyList') View Details
      .row
        .col-md-6
          .card
            .card-body
              h4.card-title Accounts
              p.card-text Total income: #{totalIncome.total}
              p.card-text Total expenses: #{totalExpenses.total}
              a.btn.btn-secondary(href='/accrecords') View Details
              | &nbsp; &nbsp;
              a.btn.btn-secondary(href='/sitterPayments') Sitter Payment
        .col-md-6
          .card
            .card-body
              h4.card-title Staff Members
              p.card-text Total Staff Members: #{totalRegisteredStaffCount}
              p.card-text Total Registered Sitters: #{registeredSittersCount}
              a.btn.btn-secondary(href='/staffList') View Details
    include footer
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
