doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Purchase List
  link(rel='stylesheet' href='/css/style.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet')
  style.
    table th,
    table td {
    border: 1px solid #ddd;
    padding: 8px;
    width:auto;
    text-align: center;
    }
    table th {
    background-color: #f2f2f2;
    }
    table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2;
    }
include nav
include buttonBar
.container
  table.table
    thead
      tr
        th Image
        th Item Name
        th Date of Delievery
        th Unit
        th Quantity
        th Description
        th Supplier
        th Price (UGX)
        th Total Amount
        th Action
    tbody#purchaseTableBody
      if purchases.length 
        each purchase in purchases 
          tr
            td
               img(src=purchase.itemImage, alt='Item Image', style='max-width: 100px;')
            td #{purchase.itemName}
            td #{purchase.dateOfDelievery}
            td #{purchase.itemUnit}
            td #{purchase.itemQuantity}
            td #{purchase.itemDescription}
            td #{purchase.supplier}
            td #{purchase.rate}
            td #{purchase.total}
            td
              a.btn.btn-danger(href=`/purchase/update/${purchase._id}`) Update 
              form(method="POST" action="/delete")
                input(type="hidden" name="id" value=purchase._id)
                button.btn.btn-primary(type="submit") Delete

include footer
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')
